@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked + label {
  background-color: #e4b126a3;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

* {
  transition: all 50ms ease-in-out;
}
