@font-face {
    font-family: 'SF Arabic';
    src: url('SF-Arabic.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Arabic';
    src: url('SF-Arabic-Rounded.ttf');
    font-weight: 400;
    font-style: round;
}